  // preloader dimensions
$sqrt-2: 1.414;
$loader-radius: 2rem;

.preloader {
  animation: preloader .6s infinite steps(8);
  border-radius: 50%;
  box-shadow: // sass-lint:disable indentation
    // top
    0 (-$loader-radius) $loader-active,
    // top right
    $loader-radius / $sqrt-2 (-$loader-radius / $sqrt-2) $loader-inactive,
    // right
    $loader-radius 0 $loader-inactive,
    // bottom right
    $loader-radius / $sqrt-2 $loader-radius / $sqrt-2 $loader-inactive,
    // bottom
    0 $loader-radius $loader-inactive,
    // bottom left
    (-$loader-radius / $sqrt-2) $loader-radius / $sqrt-2 $loader-inactive,
    // left
    (-$loader-radius) 0 $loader-motion-secondary,
    // top left
    (-$loader-radius / $sqrt-2) (-$loader-radius / $sqrt-2) $loader-motion-primary
  ;
  height: 1.25rem;
  width: 1.25rem;
}
@keyframes preloader {
  to { transform: rotate(1turn);}
}
