---
  http_interactions:
  - request:
      method: get
      uri: https://rxnav.nlm.nih.gov/REST/rxcui/855302/status
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
        - application/xml
      body:
        encoding: UTF-8
        string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><rxnormdata><rxcuiStatus><status>Active</status><remappedDate></remappedDate><minConceptGroup><minConcept><rxcui>855302</rxcui><name>Medication
          D-RX sodium 2 MG Oral Tablet</name><tty>SCD</tty></minConcept></minConceptGroup></rxcuiStatus></rxnormdata>
    recorded_at: Fri, 26 Apr 2013 16:00:02 GMT
  - request:
      method: get
      uri: https://rxnav.nlm.nih.gov/REST/RxTerms/rxcui/855302/allinfo
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
        - application/xml
      body:
        encoding: UTF-8
        string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><rxtermsdata><rxtermsProperties><brandName></brandName><displayName>Medication
          D-RX (Oral Pill)</displayName><synonym></synonym><fullName>Medication D-RX
          sodium 2 MG Oral Tablet</fullName><fullGenericName>Medication D-RX sodium
          2 MG Oral Tablet</fullGenericName><strength>2 mg</strength><rxtermsDoseForm>Tab</rxtermsDoseForm><route>Oral
          Pill</route><termType>SCD</termType><rxcui>855302</rxcui><genericRxcui></genericRxcui><rxnormDoseForm>Oral
          Tablet</rxnormDoseForm><suppress></suppress></rxtermsProperties></rxtermsdata>
    recorded_at: Fri, 26 Apr 2013 16:00:03 GMT
  - request:
      method: get
      uri: https://rxnav.nlm.nih.gov/REST/rxcui/855302/related?tty=IN
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
        - application/xml
      body:
        encoding: UTF-8
        string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><rxnormdata><relatedGroup><rxcui>855302</rxcui><termType>IN</termType><conceptGroup><tty>IN</tty><conceptProperties><rxcui>11289</rxcui><name>Medication
          D-RX</name><synonym></synonym><tty>IN</tty><language>ENG</language><suppress>N</suppress><umlscui>C0043031</umlscui></conceptProperties></conceptGroup></relatedGroup></rxnormdata>
    recorded_at: Fri, 26 Apr 2013 16:00:03 GMT
  - request:
      method: get
      uri: https://rxnav.nlm.nih.gov/REST/rxcui/855302/property?propName=STRENGTH
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
        - application/xml
      body:
        encoding: UTF-8
        string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><rxnormdata><propConceptGroup/></rxnormdata>
    recorded_at: Fri, 26 Apr 2013 16:00:03 GMT
  - request:
      method: get
      uri: https://rxnav.nlm.nih.gov/REST/rxcui/855302/property?propName=AVAILABLE_STRENGTH
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
        - application/xml
      body:
        encoding: UTF-8
        string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><rxnormdata><propConceptGroup><propConcept><propCategory>ATTRIBUTES</propCategory><propName>AVAILABLE_STRENGTH</propName><propValue>2
          MG</propValue></propConcept></propConceptGroup></rxnormdata>
    recorded_at: Fri, 26 Apr 2013 16:00:03 GMT
  - request:
      method: get
      uri: https://rxnav.nlm.nih.gov/REST/rxcui/855302/property?propName=QUANTITY
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
        - application/xml
      body:
        encoding: UTF-8
        string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><rxnormdata><propConceptGroup/></rxnormdata>
    recorded_at: Fri, 26 Apr 2013 16:00:03 GMT
  - request:
      method: get
      uri: https://rxnav.nlm.nih.gov/REST/rxcui/855302/property?propName=NUI
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
        - application/xml
      body:
        encoding: UTF-8
        string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><rxnormdata><propConceptGroup/></rxnormdata>
    recorded_at: Fri, 26 Apr 2013 16:00:03 GMT
  recorded_with: VCR 3.0.3
  